@if ($movies().length === 0) {
  <div class="loading-content">
    <app-loading></app-loading>
  </div>
  }
  
  @if ($movies()) {
  <app-movie-background [backgroundImage]="$backgroundUrl()" [backgroundMessage]="messagesBackground">
  </app-movie-background>
  }
  
  @if ($movies()) {
  <section class="">
    <div class="mt-5 ml-5 mr-5">
      <h1 class="display-2 rellax">Pelis App</h1>
      <p><em>Desarrollado por Oliver Zulett</em></p>
      <p class="lead">
        Pelis app es una aplicacion desarrollada en angular que consume la rest api de <a href="">The Movie DB</a>
        para mostrarte las peliculas que estan en cartelera, las peliculas mas populares del momento y las mas
        populares entre los niños.
      </p>
    </div>
    <div class="mt-5 mb-5">
      <div class="d-flex flex-wrap justify-content-center">
        @for (movie of $movies(); track $index) {
          <app-movie-card class="d-flex justify-content-center" [movieObject]="movie">
          </app-movie-card>
        }
      </div>
    </div>
    @if ($pagination()) {
    <div class="d-flex justify-content-center mb-5">
      @if ($pagination().page > 1) {
      <button (click)="loadMovies($pagination().page - 1)" class="raise">ANTERIOR</button>
      }
      @if ($pagination().page < $pagination().total_pages) { 
        <button (click)="loadMovies($pagination().page + 1)"class="raise">SIGUIENTE</button>
      }
    </div>
    }
  </section>
  }